<div class="top-area">
	<div class="top-description">
		<p>Training record,</p>
		<p>Share training</p>
		<p>Let's get started!!</p>
	</div>
	<div class="buttons">
		<ul>
			<li><%= link_to "Login", new_user_session_path %></li>
			<li><%= link_to "Signup", new_user_registration_path %></li>
			<li>Test login</li>
		</ul>
  </div>
</div>