<div class="top-area">
	<div class="top-description">
		<p>Training record,</p>
		<p>Share training</p>
		<p>Let's get started!!</p>
	</div>
	<div class="buttons">
		<ul>
			<li>Login</li>
			<li>Signup</li>
			<li>Test login</li>
		</ul>
  </div>
</div>