<div class="timeline-background">
  <h1><span class="timeline-title">フォローユーザーの投稿一覧</span></h1>
  <div class="timeline-container">
    <%= render 'shared/postbox' %>
  </div>
  <div class="paginate-container">
    <div class="paginate">
      <%= paginate @posts %> 
    </div>
  </div>
</div>