<header>
	<div class="header-menu">
		<div class="app-name">
			<p>Share | fitness</p>
		</div>
		<div class="header-link">
			<p style="color:#006666;">Signup</p>
			<p>MyRecord</p>
			<p>AllRecord</p>
    </div>
  </div>
  <!-- inputid と labelfor　で 同じ名前をつけることで、labelをクリックしてinputにチェックを入れたり外せる-->
　 <div id="nav-drawer">
    <input id="menu" type="checkbox">
    <label for="menu"  class="open"><i class="fas fa-bars fa-2x"></i></label>
    <label for="menu"  class="back"></label>
    <aside>
      <label for="menu"  class="close">×</label>
      <nav>
        <ul>
          <li>Mypage</li>
          <li>Record</li>
          <li>AllRecord</li>
          <li>Logout</li>
        </ul>
      </nav>
    </aside>
  </div>
</header>