<header>
	<div class="header-menu">
		<div class="app-name">
			<p>Share | fitness</p>
		</div>
		<div class="header-link">
			<p style="color:#006666;">Signup</p>
			<p>MyRecord</p>
			<p>AllRecord</p>
		</div>
	</div>
</header>