<div class="nested-fields training_menu_fields training-menu-set-form">
  
    <%= f.number_field :weight, placeholder: "重さ・kg, 例:100",class: "nest-field"  %>
 

    <%= f.number_field :repetition,placeholder: "回数, 例:5",class: "nest-field"  %>


    <%= f.number_field :set_count,placeholder: "セット数, 例:3",class: "nest-field"  %>
 
  
  <div class="nest-delete-link nest-button-link">
    <%= link_to_remove_association 'ー', f %>
  </div>
</div>