// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-form-background{
  width: 100%;
  min-height: 100vh;
  height: auto;
  // background-color: #EEEEEE;
  background-image: url(https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  display: flex;
  justify-content: center;

  .question-form-container{
    width: 80%;
    display: flex;
    justify-content: center;
    padding-top: 3vw;
    font-size: 1vw;
    // font-family: 'Avenir Next',sans-serif;

    .question-box{
      width: 80%;
      padding-bottom: 2vw;
      display: flex;
      justify-content: center;

      .question-form{
        width: 80%;

        h2{
          font-size: 2vw;
          text-align: center;

          .question-top-word{
            background: linear-gradient(transparent 80%, #DDFFFF 80%);
          }
        }

        .question-field{
          width: 100%;
          margin-bottom: 1vw;

          .question-form-field{
            width: 100%;
          }
        }

        .question-content-form{
          width: 100%;
          height: 17vw;
          // margin-bottom: 2vw;
        }

        .question-submit{
          width: 101%;
          margin-top: 1.5vw;
          background-color: #DDFFFF;
        }
      }
    }
  }
}


//indexページ
.question-index-page{
  width: 100%;
  padding-top: 2vw;
  min-height: 100vh;
  height: auto;
  // background-color: #EEEEEE;
  background-image: url(https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);

  .question-search-container{
    margin: auto;
    width: 85%;
    min-height: 5vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);

    .question-search-area{
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .question-search{
        width: 55vw;
        min-height: 2vw;
        height: auto;
      }
    }

    .question-link{
      font-size: 1vw;
      background-color: #DDFFFF;
      padding: 0.1vw 0.4vw;
    }
  }
  //検索エリア終了

  //質問indexエリア

  .index-all{
    width: 95%;
    min-height: 100vh;
    display: flex;
    margin: 0 auto;
    margin-top: 2vw;
    // padding-top: 1vw;
  

    .question-index-container{
      width: 65%;
      min-height: 100vh;
      height: auto;
      padding-top: 1vw;


      h2{
        text-align: center;
        font-size: 2vw;
        color: #222222;
        margin-top: 0;

        .question-index-word{
          background: linear-gradient(transparent 80%, #88FFFF 80%);
        }
      }

      .questions-no-result{
        text-align: center;
        font-size: 2vw;
        color: red;
      }
      

      .question-list-box{
        border: solid 1px;
        width: 90%;
        // min-height: 7vw;
        font-size: 1.2vw;
        padding: 1vw;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 1vw;
        background-color: #EEEEEE;
        box-shadow: 2px 2px 3px gray;
    

        .question-list-contents{
          width: 100%;

          .question-list-user-info{
            display: flex;
            align-items: flex-end;
            margin-bottom: 1vw;
            border-bottom: solid 1px;
            width: 100%;

            .question-user-image{
              width: 2.7vw;
              height: 2.7vw;
              object-fit: contain;
            }

            .question-list-user-name{
              margin-left: 1vw;
            }

            .qustion-created-data{
              margin-left: auto;
            }
          }

          .qustion-list-category{
            color: #666666;
          }
    
          .question-list-title{
            display: flex;
          }
        }
      }
    }

    .category-side-container{
      // margin-top: 1vw;
      padding-top: 1.2vw;
      width: 35%;

      h2{
        text-align: center;
        font-size: 1.5vw;
        margin: 0;

        .category-search-word{
          background: linear-gradient(transparent 80%, #88FFFF 80%);
        }
      }
    }

    .category-search-area{
      height: auto;
      display: flex;
      justify-content: center;
      padding-top: 3.5vw;

      .category-search-box{
        width: 90%;
        padding: 1vw;
        border: solid 1px;
        background-color: #EEEEEE;

        .category-contents{
          display: flex;
          flex-wrap: wrap;
          width: 100%;

          li{
            font-size: 1vw;
            width: 30%;
            margin: 0 auto;
            padding-top: 1vw;

            border-bottom: solid 1px;
          }
        }
      }
    }
  }
}
//question index　ページ終了

//question showページ開始
.question-show-page{
  padding: 2vw 0;
  width: 100%;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  height: auto;

  .question-show-container{
    display: flex;
    width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    margin-top: 2vw;

    .question-container{
      width: 75%;
      margin: 0 auto;
      background-color: #EEEEEE;
      border: solid 1px;
      box-shadow: 2px 2px 3px gray;
      padding: 1vw;
  
      .question-user-info{
        display: flex;
        align-items: center;
        font-size: 1.1vw;
        border-bottom: dashed 1px;
  
  
        .question-user-image{
          width: 4vw;
          height: 4vw;
          object-fit: contain;
          border-radius: 50%;
        }
  
        .question-user-name{
          margin-left: 1.5vw;
        }

        .question-answer-count{
          font-size: 1.4vw;
          margin-left: auto;
        }
      }

      .question-category{
        color: #666666;
        font-size: 1vw;
        padding-top: 1vw;
      }
  
      .question-title{
        font-size: 1.5vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
      }
  
      .question-content{
        font-size: 1.2vw;
      }
  
      .question-content-image{
        margin-top: 1vw;
        width: 25vw;
        height: 25vw;
        object-fit: contain;
      }
    }

    .question-answer-form-container{
      display: flex;
      padding-top: 2vw;

      .answer-user-image{
        width: 3vw;
        height: 3vw;
        object-fit: contain;
        border-radius: 50%;
      }
      

      .answer-form{
        width: 54.7vw;
        min-height: 3vw;
        height: auto;
      }

      .answer-submit{
        // margin: 0 auto;
        background-color: #DDFFFF;
        width: 55vw;
      }
    }

    .answer-container{
      padding: 1vw 0;
      // display: flex;

      h2{
        text-align: center;
        border-bottom: dotted 1px;
      }

      .answer-box{
        background-color: white;
        border: solid 1px;
        margin-bottom: 1vw;
        // display: flex;

        .answer-user-info{
          display: flex;
          align-items: center;

          .answer-user-image{
            width: 3vw;
            height: 3vw;
            object-fit: contain;
            border-radius: 50%;
          }

          .answer-user-name{
            margin-left: 1vw;
            font-size: 0.8vw;
          }
        }

        .answer-content-box{
          font-size: 1vw;
          padding: 0.5vw;
          // margin-bottom: 1vw;
        }

        .answer-reaction-container{
          font-size: 0.8vw;
          margin: 0 0.5vw;
          display: flex; 
          border-top: dotted 1px;
        }
      }
    }
  }

  .question-show-side-container{
    width: 25%;
    padding-left: 2vw;

    h2{

      .new-questions{
        background: linear-gradient(transparent 80%, #88FFFF 80%);
      }
    }

    .question-side-box{
      background-color: #EEEEEE;
      border: solid 1px;
      box-shadow: 2px 2px 3px gray;

      .new-questions-link{
        font-size: 1vw;
        color: #708090;
        padding: 0.4vw ;
      }
    }
  }
}
