//PC用scss
@media screen and (min-width:769px){
  //signupページ
  .userform-background{
    background-image: url(https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    width: 100%;
    height: 100vh; 

    .userform-box{
      width: 40%;
      height: auto;
      margin: 0 auto;
      //サインアップフォームを中央配置
      display: flex;
      justify-content: center;
      align-items: center;

      .user-form{
        font-size: 1.8vw;
        line-height: 1.5;
        margin: 0 auto;
  
        h2{
          text-align: center;
        }

        .field{
          margin:0;
          padding-top:0;

          .input-field{
            width: 100%;
          }
        }
      }
    }
  }
  //signupページ終了
}
//PC用scss終了

//スマホ・タブレット用
@media screen and (max-width: 768px){
  .userform-background{
    background-image: url(https://images.unsplash.com/photo-1560780552-ba54683cb263?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
    width: 100%;
    height: 100vh; 
    padding-top: 0;
  
    .userform-box{
      width: 100%;
      height: auto;
      margin: 0 auto;
      //サインアップフォームを中央配置
      display: flex;
      justify-content: center;
      align-items: center;
  
      .user-form{
        font-size: 1.8vw;
        line-height: 1.5;
        margin: 0 auto;
  
        h2{
          text-align: center;
          font-size: 3.5vw;
        }

        .field{
          margin:0;
          padding-top:0;

          .input-field{
            width: 100%;
          }
        }
      }
    }  
  }
} 
//スマホ・タブレット用scss終了